{% extends "base.html" %}

{% load static %}

{% block page_content %}
    <!-- Landing Page -->
    <header class="masthead">
        <!-- <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light text-light">Joseph Rimsky</h1>
                <p class="lead text-light">Application Development - Data Analytics - Photography & Videography</p>
            </div>
            </div>
        </div> -->
    </header>
    
    <!-- Page Content -->
    <section class="py-5">
        <div class="container" id="About">
            <h2 class="font-weight-light">About</h2>
            <p>Hi, my name is Joe and welcome to my portfolio!</p>
            <p>On this site you will have the oppurtunity to explore both projects from my professional career, as well as my personal hobby.</p>
        </div>
    </section>
    <section class="py-0">
        <div class="container" id="Contact">
            <h2 class="font-weight-light">Contact</h2>
            <p>If you have any questions or request, feel free to email me at <a href="mailto:jrmedia@joerimsky.com">jrmedia@joerimsky.com</a>.</p>
        </div>
    </section>
    
    <!-- Footer -->
    <footer id="sticky-footer" class="py-4 bg-lighter text-white-50">
        <div class="container text-center">
            <small><!-- Insert some foother text here --></small>
        </div>
    </footer>
{% endblock %}