{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utclearf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Joseph Rimsky {{ page_title|default_if_none:""}}</title>
            
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo.ico' %}" />
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    </head>
    
    <body id="page-top">
        <!-- Navigation -->
        <a class="menu-toggle rounded" href="">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="js-scroll-trigger" href="#page-top">Joseph Rimsky</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="sidebar-nav-item">
                    <a class="js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        
        <!-- Header -->
        <header class="masthead d-flex">
            <div class="container text-center my-auto">
                <h1 class="mb-1">Joseph Rimsky</h1>
                <h3 class="mb-5">
                    <em>Application Development - Data Analytics - Photography/Videography</em>
                </h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">About Me</a>
            </div>
            <div class="overlay"></div>
        </header>
        
        <!-- About -->
        <section class="content-section bg-light" id="about">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h2>Hi, my name is Joseph Rimsky and welcome to my portfolio!</h2>
                        <p class="lead mb-5">
                            I hold a Bachelor's degree in science (Computer Science, California University of Pennsylvania May 2019).
                            Ever since being exposed to 
                        </p>
                        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#skills">What I Offer</a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Skills -->
        <section class="content-section bg-primary text-white text-center" id="skills">
            <div class="container">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Skills</h3>
                    <h2 class="mb-5">What I Offer</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <i class="icon-screen-smartphone"></i>
                        </span>
                        <h4>
                            <strong>Responsive</strong>
                        </h4>
                        <p class="text-faded mb-0">Looks great on any screen size!</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <i class="icon-pencil"></i>
                        </span>
                        <h4>
                            <strong>Redesigned</strong>
                        </h4>
                        <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <i class="icon-like"></i>
                        </span>
                        <h4>
                            <strong>Favorited</strong>
                        </h4>
                        <p class="text-faded mb-0">Millions of users
                            <i class="fas fa-heart"></i>
                        Start Bootstrap!</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <i class="icon-mustache"></i>
                        </span>
                        <h4>
                            <strong>Question</strong>
                        </h4>
                        <p class="text-faded mb-0">I mustache you a question...</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Portfolio -->
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h1 class="text-secondary mb-0">Portfolio</h1>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">App Development & Automation</div>
                                    <p class="mb-0">Eliminating those ongoing manual efforts with self-serve applications.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static '/assets/img/app-dev.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Data Analytics</div>
                                    <p class="mb-0">All things data: dashboard creation, ad-hoc reporting, visualizations, etc.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static '/assets/img/data-analytics.png' %}" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6 mx-auto">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Photography</div>
                                    <p class="mb-0">Capturing the perfect memories for clients to always remember.</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static '/assets/img/photography.png' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer -->
        <footer class="footer text-center" id="contact">
            <div class="container">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!">
                            <i class="icon-social-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!">
                            <i class="icon-social-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="#!">
                            <i class="icon-social-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; joerimsky.com 2020</p>
            </div>
        </footer>
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <!-- Custom scripts for this template -->
        <script src="{% static 'js/scripts.js' %}"></script>
        
    </body>
</html>